<!DOCTYPE html>
<html>
<head>
  <title>UserNiceties</title>
  <%= stylesheet_link_tag    "user_niceties/application" %>
  <%= javascript_include_tag "user_niceties/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
